* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-page {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/bg-2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}


a {
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}

#login-form {
    /* display: none; */
    text-align: center; /* Center align the content */
}

.form-box {
    width: 380px;
    height: 350px;
    position: relative;
    margin: 10% auto;
    background: rgb(206, 234, 213);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #F3C693;
    border-radius: 30px;
    transition: .5s;
}

.input-group-login {
    top: 110px;
    padding: 0px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.radio-class input{
    top: 50px;
    margin-top:20px;
    padding-top: 20px;

    }

.input-field,
#login-form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 75%;
    padding: 10px 10px;
    cursor: pointer;
    display: block;
    margin: 25px 30px 10px;
    background: #F3C693;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.radio-options {
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

.radio-options input[type="radio"] {
    margin-left: 5px;
    appearance: none;
    border: 2px solid #ffffff;
    border-radius: 75%;
    width: 12px;
    height: 12px;
    outline: none;
    cursor: pointer;
    color: #999;
}

.radio-options input[type="radio"]:checked {
    background-color: blue;
    border-color: #999;
}

.check-box {
    margin: 30px 10px 10px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
    margin-bottom: 200px;
}

#login input,
#login-form select {
    color: rgb(0, 0, 0);
    font-size: 15;
}
